.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;   
}

/*cada gallery-item es una foto*/
.gallery-item{
    flex: 1 1 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
}

.gallery-item:hover{
    transform: scale(1.03);
}